My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3aad271c-e26b-4645-a029-75a3bd1ba4c2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        688
      ],
      "id": "d671ccd2-8447-417d-bf75-06801b8cc300",
      "name": "Webhook",
      "webhookId": "3aad271c-e26b-4645-a029-75a3bd1ba4c2"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        608,
        768
      ],
      "id": "01057158-4b8f-474a-9e6f-d717a4744fe8",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "LzcSbUz9mhjoQuH9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a classification assistant. Analyze the user's query and respond with ONLY a number:\n\n0 - If the query is about scheduling meetings or sending emails\n1 - If the query is about updating Google Sheets\n2 - For all other queries\n\nRespond with ONLY the number (0, 1, or 2), nothing else."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        832,
        688
      ],
      "id": "5a50f24e-e355-4fe3-924e-3061a2ac5ac3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        784,
        912
      ],
      "id": "2ae15cda-fad2-4dff-b7af-afe57d66cc77",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LzcSbUz9mhjoQuH9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        976,
        912
      ],
      "id": "bc119681-66d5-4599-99ea-9f1c42142914",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 3,
        "output": "={{$json.output}}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1184,
        672
      ],
      "id": "bbc6e045-1d4b-466f-bda6-8fd52147ff8d",
      "name": "Switch1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "flH5bNIWhpib6h8u",
          "mode": "list",
          "cachedResultUrl": "/workflow/flH5bNIWhpib6h8u",
          "cachedResultName": "Email DRAFT Agent +Calendar Bot"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1408,
        496
      ],
      "id": "7f061a72-0aa9-4f59-a85d-e81e45bc1fb3",
      "name": "Call 'Email DRAFT Agent +Calendar Bot'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gmiCT9pbCrw8shMQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/gmiCT9pbCrw8shMQ",
          "cachedResultName": "Google Sheets w looping feature"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1408,
        688
      ],
      "id": "d3d4f470-7553-4c55-8abe-762066ad9620",
      "name": "Call 'Google Sheets w looping feature'"
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "mode": "list",
          "value": {}
        },
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        1872,
        752
      ],
      "id": "d211c464-2207-4a13-8003-524453cff54b",
      "name": "Convert text to speech",
      "credentials": {
        "elevenLabsApi": {
          "id": "NDF7vFAmPyJTV2vN",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2080,
        688
      ],
      "id": "7121af36-39db-42bb-9f69-574255c5e691",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5SFqmEyq0BKJDC2v",
          "mode": "list",
          "cachedResultUrl": "/workflow/5SFqmEyq0BKJDC2v",
          "cachedResultName": "Donna AI"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        160,
        976
      ],
      "id": "3b47f957-c0e1-4d48-9776-cc96787ee50b",
      "name": "Call 'Donna AI'"
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{ $json.type === 'audio' ? 1 : 0 }}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        384,
        688
      ],
      "id": "66425bbe-a679-4b55-bd78-7824712d7977",
      "name": "Switch: Conditional logic to check input_type",
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Call 'Email DRAFT Agent +Calendar Bot'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Google Sheets w looping feature'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Google Sheets w looping feature'": {
      "main": [
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Email DRAFT Agent +Calendar Bot'": {
      "main": [
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch: Conditional logic to check input_type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Conditional logic to check input_type": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9b18f3b3-212a-401e-9740-027883b9b950",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "339c48a7b8edbef806ab0311becb2a229292d2c26cf56f495fe719f6a822146a"
  },
  "id": "jLLRP2Fcw9ODywxa",
  "tags": []
}